* {
	box-sizing: border-box;
}

$grey: #666;
$red: #C00;

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
}

header {
	height: 5vh;
}

.main {
	display: flex;
	flex-direction: row;

	#left {
		flex-grow: 1;
	}

	#grid {
		position: relative;
		height: 90vh;
		width: 100vh;
		max-width: 90vh;
		border-top: 1px solid $grey;
		border-left: 1px solid $grey;

		display: flex;
		flex-wrap: wrap;

		.cell {
			width: 2%;
			height: 2%;
			border-right: 1px solid $grey;
			border-bottom: 1px solid $grey;
		}

		.mover {
			width: 2%;
			height: 2%;
			background-color: $red;
			position: absolute;
			transition: all 0.5s ease;
		}
	}

	#right {
		flex-grow: 1;
	}
}

footer {
	height: 5vh;
}